extends ../base
block title
	| Index page
block main
	// Секция main
	section.main.proxy-checker
		.container
			.share-page
				.share-page__link
					a(href='#')
						i.fa.fa-share
						|                            Поделиться страницей
				.share-page__social
					.share-page__social-inner
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-facebook
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-vk
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-twitter
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-paper-plane
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-at
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa
										svg.svg-inline--fa.fa-deskpro.fa-w-15.fa-3x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='deskpro', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 480 512')
											path(fill='currentColor', d='M205.9 512l31.1-38.4c12.3-.2 25.6-1.4 36.5-6.6 38.9-18.6 38.4-61.9 38.3-63.8-.1-5-.8-4.4-28.9-37.4H362c-.2 50.1-7.3 68.5-10.2 75.7-9.4 23.7-43.9 62.8-95.2 69.4-8.7 1.1-32.8 1.2-50.7 1.1zm200.4-167.7c38.6 0 58.5-13.6 73.7-30.9l-175.5-.3-17.4 31.3 119.2-.1zm-43.6-223.9v168.3h-73.5l-32.7 55.5H250c-52.3 0-58.1-56.5-58.3-58.9-1.2-13.2-21.3-11.6-20.1 1.8 1.4 15.8 8.8 40 26.4 57.1h-91c-25.5 0-110.8-26.8-107-114V16.9C0 .9 9.7.3 15 .1h82c.2 0 .3.1.5.1 4.3-.4 50.1-2.1 50.1 43.7 0 13.3 20.2 13.4 20.2 0 0-18.2-5.5-32.8-15.8-43.7h84.2c108.7-.4 126.5 79.4 126.5 120.2zm-132.5 56l64 29.3c13.3-45.5-42.2-71.7-64-29.3z')
						.share-page__social-item
							.share-page__social-item-counter
								| 16
							.share-page__social-item-circle
								a(href='#')
									i.fa.fa-linkedin

			.main__title
				h1 Сканер портов
			.proxy-checker__list
				p
					| Показывает какие порты открыты на вашем или чужом компьютере и за что они отвечают. Проверка производится через сканер nmap и
					| показывает, насколько открыт ваш доступ ПК для внешнего мира.
			.port-scanner-wrap
				form.row.port-scanner.flex
					.col-lg-4
						.port-scanner__enter-the-IP-address-or-domain
							label(for="enter-the-IP-address-or-domain") Введите IP-адрес или домен:
							input(id="enter-the-IP-address-or-domain")
							a(href="#") Вставить мой IP-адрес
							label Тип сканируемых портов:
							select(class="select2 select2-modal")
								option Популярные порты
								option Скрытые порты
					.col-lg-8
						.port-scanner__test-results
							p.title
								| Результаты проверки:
							.port-scanner__test-results-wrap.port-scanner
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds

				.row.port-scanner.flex
					.col-lg-12
						.port-scanner__btn
							button(class="main_btn2" type="submit") Сканировать
							p.info
								i
									img(src=require("img/icon-info.svg"))
								| Если результат «Host seems down», значит фаерволл или роутер проверяемого и IP блокирует пинги.
			.main__table-wrap-title
				p Какие порты проверяются:
			.main__table-wrap.port-scanner
				.hide-ip-table__scroll-table.proxy-checker-table.port-scanner
					| Листайте таблицу ps есть скролл вниз
					i.fa.fa-arrow-right
				table.port-scanner-table
					thead
						tr.row
							th.col-1
								| Номер
							th.col-1
								| Port
							th.col-2
								| Протокол
							th.col-8
								| Описание
					tbody
						tr.row
							td.col-1
								| 1
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 2
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 3
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 4
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 5
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 6
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 7
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 8
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 9
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 10
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
						tr.row
							td.col-1
								| 11
							td.col-1
								img(src=require("../../img/imgport.png"))
							td.col-2
								| FTP Data
							td.col-8
								| File Transfer Protocol — протокол передачи файлов. Порт для данных.
			.proxy-checker__download-scan-results
				.proxy-checker__download-scan-results-title
					| Скачать результаты проверки:
				.proxy-checker__download-scan-results-item
					img(src=require("../../img/proxy-checker__download-scan-results-item.svg"))
					a(href="#") скачать в .txt
				.proxy-checker__download-scan-results-item
					img(src=require("../../img/proxy-checker__download-scan-results-item2.svg"))
					a(href="#") таблицей в .scv
				.proxy-checker__download-scan-results-item
					img(src=require("../../img/proxy-checker__download-scan-results-item3.svg"))
	// Секция Looking for stable personal proxies
	section.looking-for-stable-personal-proxies
		.container
			h2 Нужны стабильные персональные прокси?
		.looking-for-stable-personal-proxies__btn
			button(type="button" class="main_btn3") Подробнее
	// Секция why-our-proxies-are-better
	section.why-our-proxies-are-better.proxy-checker
		.container
			h2 Подробнее о сканере портов.
			p
				| Сканер портов — программное обеспечение, созданное для обнаружения хостов сети, в которых открыт нужный порт или набор портов. Сканеры портов, как правило,
				| используются системными администраторами для выявленя слабых мест их сетей.
				|
			p
				| Наш сервис предлагает воспользоваться самой известной системной программой nmap, адаптированной нами специально под веб.
				|
			p
				| Для проверки своего компьютера используйте кнопку «вставить мой IP-адрес» рядом с формой сканера. Мы также позволяем проверять любые сторонние IP-адреса, но
				| только в качестве ознакомления! Категорически запрещается использовать данный сканер для противоправных действий.