doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}
			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 200px;
				width: 200px;
				margin-top: -100px;
				margin-left: -100px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	body
		div
			.loader
				.loader_inner
					include ../img/preloader.svg
		block modal
			include modal
		// Элемент cd-transition-layer это тоже для прикольной анимации модалки
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container')
			block header
				header(class="header")
					.container
						.row
							.header__logo
								a(href="/" class="logo" title="Логотип")
									img(src=require("../../img/logo.png"))
							nav.header__nav
								ul
									-var links = [{title:'Персональные прокси', href:'#'},{title:'Прокси IPv6', href:'#'},{title:'Прокси-чекер', href:'#'},{title:'Мой IP', href:'#'}, {title:'Компания', href:'#'},{title:'Доп. услуги', href:'#'}];
									each i in links
										li
											a(href=i.href)= i.title
							.header__authorization
								a(href="#") ВОЙТИ
								.header__autorization-dropdown
									form
										p.title
											| Авторизация
										.input_wrap
											i.fa.fa-check
											input(name="name" type="text" placeholder="Имя")
										.input_wrap
											i.fa.fa-check
											input(name="email" type="email" placeholder="Ваш E-mail")
										button(type="submit" class="main_btn") Войти

			block main
			block footer
				// Секция footer
				footer.footer
					.container
						.row
							.col-lg-4
								.footer__default-item
									.footer__item-title
										p.title Инструменты
									.footer__item-divider
									.footer__item-nav
										nav
											ul
												li
													a(href="#") Персональные прокси
												li
													a(href="#") Прокси IPv6
												li
													a(href="#") Прокси-чекер
										nav
											ul
												li
													a(href="#") Сканер портов
												li
													a(href="#") Мой IP-адрес
												li
													a(href="#") API
							.col-lg-5.col-xl-4
								.footer__default-item
									.footer__item-title
										p.title Компания
									.footer__item-divider
									.footer__item-nav
										nav
											ul
												li
													a(href="#") Статьи
												li
													a(href="#") Контакты
										nav
											ul
												li
													a(href="#") Партнерская программа
												li
													a(href="#") Сервис аккаунтов
							.col-lg-3.offset-xl-1
								.footer__default-item
									.footer__item-title
										p.title Выбрать язык
									.footer__item-divider
									// в опциях языка в data-language можно указать то название картинки, которое будет в папке img лежать - нужный флаг
									.select2-wrap
										select.select2.select2-language(name="modal-select-language")
											option(data-language="flag_ukraine") Русский
											option(data-language="flag_ukraine") Английский
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Персональные прокси', href:'#'},{title:'Прокси IPv6', href:'#'},{title:'Прокси-чекер', href:'#'},{title:'Мой IP', href:'#'}, {title:'Компания', href:'#'},{title:'Доп. услуги', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')


