doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}
			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 200px;
				width: 200px;
				margin-top: -100px;
				margin-left: -100px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	body
		div
			.loader
				.loader_inner
					include ../img/preloader.svg
		block modal
			include modal
		// Элемент cd-transition-layer это тоже для прикольной анимации модалки
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container')
			block header
				header(class="header")
					.header__gray-divider
					.container
						.row
							.header__logo
								a(href="/" class="logo" title="Логотип")
									img(src=require("../../img/logo.png"))
									| PROXYSELLER
							nav.header__nav
								ul
									-var links = [{title:'Персональные прокси', href:'#'},{title:'Прокси IPv6', href:'#'},{title:'Статьи', href:'#'},{title:'Контакты', href:'#'}];
									each i in links
										li
											a(href=i.href)= i.title
						.row.mt-a
							nav.header__bot-nav
								ul
									li
										a(href="#")
											img(src=require("../../img/checked-symbol.png"))
											| Прокси чекер
									li
										a(href="#")
											img(src=require("../../img/header-icon-ip.png"))
											| Мой IP
									li
										a(href="#")
											img(src=require("../../img/wifi-signal-waves.png"))
											| Сканер портов
									li
										a(href="#")
											img(src=require("../../img/header-icon-global.png"))
											| Пинг IP
									li
										a(href="#")
											img(src=require("../../img/header-icon-speed-meter.png"))
											| Скорость
									li
										a(href="#")
											img(src=require("../../img/header-icon-cloud-computing.png"))
											| Трассировка
									li.header__bot-nav-dropdown
										a(href="#")
											| Другое
											i.fa.fa-angle-down
										ul
											li
												a(href="#") Поддержка DNS
											li
												a(href="#") Поддержка IPv6
											li
												a(href="#") IP в спам базе

			block main
			block footer
				// Секция footer
				footer.footer
					.container
						.row
							.col-lg-7
								.footer__default-item
									.footer__item-title
										p.title инструменты:
									nav.footer__item-nav
										ul
											li
												a(href="#") Персональные прокси
											li
												a(href="#") Прокси-чекер
											li
												a(href="#") Мой IP-адрес
											li
												a(href="#") Прокси IPv6
											li
												a(href="#") Сканер портов
											li
												a(href="#") API
							.col-lg-5
								.footer__default-item
									.footer__item-title
										p.title Компания:
									nav.footer__item-nav
										ul
											li
												a(href="#") Статьи
											li.w200
												a(href="#") Партнерская программа
											li
												a(href="#") Контакты
											li
												a(href="#") Сервис аккаунтов
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Персональные прокси', href:'#'},{title:'Прокси IPv6', href:'#'},{title:'Прокси-чекер', href:'#'},{title:'Мой IP', href:'#'}, {title:'Компания', href:'#'},{title:'Сканер портов', href:'#'},{title:'Пинг IP', href:'#'},{title:'Скорость', href:'#'},{title:'Трассировка', href:'#'},{title:'Поддержка DNS', href:'#'},{title:'Поддержка IPv6', href:'#'},{title:'IP в спам базе', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')


