extends ../base
block title
	| Index page
block main
	// Секция main
	section.main.proxy-checker
		.container
			.main__title
				h1 Прокси-чекер
			.proxy-checker__list
				p
					| Наш бесплатный прокси чекер онлайн для проверки валидности имеет высокие показатели проверки прокси:
				ul
					li
						i.fa.fa-circle
						| Скорость проверки прокси и многопоточность - 64 потока и более 100 мбит;
					li
						i.fa.fa-circle
						| Есть возможность получить информацию о прокси: состояние, пинг, скорость, геолокацию, тип;
					li
						i.fa.fa-circle
						| Удобный вывод результатов с помощью фильтра отабражения.
			.proxy-checker__in-which-format-to-add-a-proxy
				i.fa.fa-exclamation-circle
				.proxy-checker__in-which-format-to-add-a-proxy-txt
					p.title
						| В каком формате добавлять прокси в чекер?
					p
						| Если у вас
						|
						b публичные прокси
						|
						| (без логина и пароля), то
						|
						b IP:PORT
					p.margin-bottom
						| Если у вас
						|
						b приватные прокси
						|
						| (с авторизацией по логину и паролю), то
						|
						b IP:PORT:USER:PASS
					p
						b P.S.: Если вы купили прокси у нас, то они приватные!
			.proxy-checker__enter-the-proxy-list
				.proxy-checker__enter-the-proxy-list-title
					| Введите список прокси сюда:
				form
					.row
						.col-lg-8
							textarea
						.col-lg-4
							.proxy-checker__enter-the-proxy-list-check
								.proxy-checker__enter-the-proxy-list-check-title
									| Отображать:
								.proxy-checker__enter-the-proxy-list-check-list
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span HTTP | HTTPS
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span SOCKS 4
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span SOCKS 5
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span Нерабочие
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span Непроверенные
					button(type="submit" class="main_btn") Проверить прокси
			.proxy-checker__test-results
				.proxy-checker__test-results-title
					| Результаты проверки:
				.row.proxy-checker__test-results-items
					.col-md-3.col-lg-2.proxy-checker__test-results-item
						dl
							dt
								| Проверено:
							dd
								span 3
								|
								| из 5
					.col-md-3.col-lg-2.proxy-checker__test-results-item
						dl
							dt
								| Рабочих:
							dd
								span.workers 2
					.col-md-3.col-lg-2.proxy-checker__test-results-item
						dl
							dt
								| Нерабочих:
							dd
								span.not-workers 1
					.col-md-12.col-lg-3.last
						button(type="button" class="main_btn2") Купить рабочие прокси
			.hide-ip-table__scroll-table.proxy-checker-table
				| Листайте таблицу
				i.fa.fa-arrow-right
			.main__table-wrap.proxy-checker-table
				table.proxy-checker-table
					thead
						th
							| IP
						th
							| Port
						th
							| Страна
						th
							| Логин
						th
							| Пароль
						th
							| Тип
						th
							| Скорость
						th
							| Анонимность
						th
							| Состояние
					tbody
						tr
							td.ip
								a(href="#") 164.132.199.54
									p.copy-buffer
										i.fa.fa-copy
										span Нажмите ⌘-С чтобы скопировать
										| Скопировать в буфер
							td
								img(src=require("../../img/imgport.png"))
							td.country
								img(src=require("../../img/flag_ukraine.jpg"))
								| Азербaйджан
							td
								| -
							td.table-password
								div
									| -
							td
								a(href="#") HTTP
							td
								.progress-bar.blue.stripes
									span(style="width: 50%")
									i 184 мс
							td
								| Анонимный
							td
								| Рабочий
								a(href="#")
						tr
							td.ip
								a(href="#") 164.132.199.54
									p.copy-buffer
										i.fa.fa-copy
										span Нажмите ⌘-С чтобы скопировать
										| Скопировать в буфер
							td
								img(src=require("../../img/imgport.png"))
							td.country
								img(src=require("../../img/flag_ukraine.jpg"))
								| Азербaйджан
							td
								| passanet456hui
							td.table-password
								div
									| asdefswedfsd
							td
								a(href="#") HTTP
							td
								.progress-bar.blue.stripes
									span(style="width: 50%")
									i 184 мс
							td
								p
									| Анонимный
							td
								p
									| Не рабочий
								p
									a(href="#") Купить рабочий
						tr
							td.ip
								a(href="#") 164.122.122.54
									p.copy-buffer
										i.fa.fa-copy
										span Нажмите ⌘-С чтобы скопировать
										| Скопировать в буфер
							td
								img(src=require("../../img/imgport.png"))
							td.country
								img(src=require("../../img/flag_ukraine.jpg"))
								| Азербaйджан
							td
								| passanet456hui
							td.table-password
								div
									| asdefswedfsd
							td
								a(href="#") HTTP
							td
								.progress-bar.blue.stripes
									span(style="width: 50%")
									i 184 мс
							td
								p
									| Нет
								p
									a(href="#") Купить анонимный
							td
								p
									| Рабочий
			.proxy-checker__download-scan-results
				.row
					.col-md-12.col-lg-4.col-xl-3
						.proxy-checker__download-scan-results-title
							| Скачать результаты проверки:
					.col-md-4.col-lg-2.col-xl-2
						.proxy-checker__download-scan-results-item
							img(src=require("../../img/proxy-checker__download-scan-results-item.png"))
							a(href="#") скачать в .txt
					.col-md-4.col-lg-3.col-xl-2
						.proxy-checker__download-scan-results-item
							img(src=require("../../img/proxy-checker__download-scan-results-item2.png"))
							a(href="#") таблицей в .scv
					.col-md-4.col-lg-3.col-xl-3
						.proxy-checker__download-scan-results-item
							img(src=require("../../img/proxy-checker__download-scan-results-item3.png"))
							a(href="#") открыть в новой вкладке
	// Секция Looking for stable personal proxies
	section.looking-for-stable-personal-proxies
		.container
			h2 Нужны стабильные персональные прокси?
		.looking-for-stable-personal-proxies__btn
			button(type="button" class="main_btn2") Подробнее
	// Секция why-our-proxies-are-better
	section.why-our-proxies-are-better.proxy-checker
		.container
			h2 Онлайн прокси чекер для проверки адресов на валидность.
			p
				| Одним из главных недостатков многих бесплатных прокси-серверов, в том числе и российских, является их недостаточная скорость в совокупности с невысоким
				| аптаймом (временем доступности). Подобные недостатки не позволяют комфортно выполнять необходимые пользователям задачи и сильно действуют на нервы.
				| Но и тратить дополнительные средства для покупки платных прокси может позволить себе не каждый. Да и не всегда это целесообразно. Как поступить, как получить
				| актуальный список валидных proxy и при этом не потратить денег??
			p
				| Для решения этой проблемы специалистами нашей компании был создан бесплатный прокси чекер онлайн, который поможет вам систематически проверять сервера
				| на доступность и скорость, а также получать дполнительную информацию о них.
			h2 Преимущества сервиса проверки proxy от компании ProxySale.
			p
				| Предлагаемый нами сервис обладает рядом уникальных возможностей:
			ul
				li
					i.fa.fa-circle
					| Имеется возможность получения подробной информации по каждому серверу – скорость, пинг, уровень анонимности, тип прокси, а также географическая
					| принадлежность (страна и город);
				li
					i.fa.fa-circle
					| Выдача аналитических данных чекера имеет тонкую настройку и позволяет экспортировать только ту часть результатов, которая реально вам необходима;
				li
					i.fa.fa-circle
					| Наш сервис работает на достаточно мощном аппаратном комплексе, что позволяет ему уверенно справляться с обработкой большого количества запросов и
					| выдавать результаты в кратчайшие сроки.
				li
					i.fa.fa-circle
					| И еще наш сервис абсолютно бесплатный и, мы надеемся, будет таким всегда – разве это не существенное преимущество?
			p
				| Ищете чекер прокси для проверки на валидность? Мы разработали его для вас, пользуйтесь и наслаждайтесь возможностью получения быстрой и достоверной
				| информации обо всех необходимых вам прокси-серверах!