extends ../base
block title
	| Index page
block main
	// Секция main
	section.main
		.container
			.main__title
				h1 Бесплатные прокси сервера онлайн
				p
					| Прокси-сервер – это, ваш посредник в сети, выполняющий целый ряд задач и делающий ваши интернет-путешествия более свободными и
					| защищёнными. В вашем распоряжении есть список бесплатных прокси серверов, а так же услуга персональных прокси, что является нашей
					| основной деятельностью.
	section.your-ip
		.container
			p.your-ip__title
				| Ваш IP-адрес:
			.your-ip__wrap
				span.your-ip__numbers
					| 37.57.19.30
				i.fa.fa-copy.copy-buffer(data-clipboard-text="" title="Скопировано в буфер")
			.your-ip__btn
				button(type="button" class="main_btn2 open-popup-link" data-effect="mfp-zoom-in" data-mfp-src="#popup2") Изменить свой IP-адрес
	section.hide-ip-table
		.container
			p.title И это лишь малая часть информации, которую можно отследить по вашему IP-адресу:
			.hide-ip-table__scroll-table
				| Листайте таблицу
				i.fa.fa-arrow-right
			.row
				.col-md-7.col-lg-9
					.hide-ip-table__table-wrap
						table
							tbody
								tr
									td
										| Хост
									td
										i
											img(src=require("../../img/hide-ip-table__table.png"))
										| 30.19.57.37.triolan.net
									tr
										td
											| Система
										td
											i
												img(src=require("../../img/hide-ip-table__table2.png"))
											| Win8.1
									tr
										td
											| Ваш браузер
										td
											i
												img(src=require("../../img/hide-ip-table__table3.png"))
											| Chrome 62.0
									tr
										td
											| Откуда Вы
										td
											i
												img(src=require("../../img/hide-ip-table__table4.png"))
											| Ukraine (UA), Kharkivs'ka Oblast', Kharkiv
									tr
										td
											| Провайдер
										td
											i
												img(src=require("../../img/hide-ip-table__table5.png"))
											| Triolan
									tr
										td
											| DNS
										td
											i
												img(src=require("../../img/hide-ip-table__table6.png"))
											| 37.57.0.210  Ukraine
									tr
										td
											| Анонимайзер
										td
											i
												img(src=require("../../img/hide-ip-table__table7.png"))
											| Нет
									tr
										td
											| Прокси
										td
											i
												img(src=require("../../img/hide-ip-table__table8.png"))
											| Нет
									tr
										td
											| Протокол
										td
											i
												img(src=require("../../img/hide-ip-table__table9.png"))
											| HTTP/1.1

				.col-md-5.col-lg-3
					.hide-ip-table__your-location
						p.hide-ip-table__your-location-title
							| Ваше расположение на карте!
						.hide-ip-table__your-location-map
							a(href="#")
								img(src=require("../../img/hide-ip-table__your-location-map.jpg") class="img-fluid")
						p.hide-ip-table__your-location-title
							| Вы можете скрыть все это!
						p
							| Достаточно воспользоваться
							| нашим простым, удобным и
							| надежным инструментом.
							| Скройте личные данные, защити-
							| те трафик и снимите все лимиты
							| со своего интернета!
						.hide-ip-table__your-location-btn
							button(type="button" class="main_btn2") Скрыть IP-aдрес
			.hide-ip-table__bottom-info-block
				.hide-ip-table__bottom-info-block-txt-wrap
					i.fa.fa-exclamation-circle
					.hide-ip-table__bottom-info-block-txt
						p
							| Как видите, по IP предоставляется довольно подробная информация.
						p.margin-bottom
							| При подключении к интернету, компьютеру присваивают номер, именуемый IP (Internet Protocol Address). Следует заметить, что присваивают не произвольно, а
							| тот айпи, который доступен провайдеру и свободен. IP изменяется после отключения при повторном подключении. Такие IP называются динамическими.
							| Если хотите, чтобы был неизменный, постоянный IP, нужно заказать нединамический адрес. Чтобы выяснить, IP у компьютера в сети: статический или
							| динамический, обратитесь к Вашему провайдеру. Обычно, нединамический предоставляется за отдельную плату. Его еще называют внешним. Часто
							| отслеживается специализированными онлайн программами, определяя сопутствующую инфу о владельце. Внутренним IP или локальным называют индивидуа-
							| льный адрес ПК (ноутбука) в локальной сети.
				.hide-ip-table__bottom-info-block-btn-wrap
					button(type="button" class="main_btn") Скрыть IP-дрес
	// Секция why-our-proxies-are-better
	section.why-our-proxies-are-better
		.container
			h2 Зачем используют информацию об IP-адресе?
			p
				| Цели различны. Как правило, носят исследовательский характер. Используются для формирования базы (статистики) в маркетинговых целях. По статическому айпи
				| возможно наблюдение за поведением на сайте: что привлекает внимание, что незаметно и остается в тени, и т.д. Полученные отчет применяют для улучшения
				| юзабилити, эффективности пользования ресурсом, увеличения конверсии.
			p
				| IP активно применяют там, где собираются пользователи для обмена мнениями (форумы, чаты и пр.). Модераторы обладают полномочиями банить(запрещать) вход на
				| ресурс по ip адресу. Подвергаются санкциям злостные нарушители правил сервиса. Это хороший способ быстро избавиться от нежелательных участников и навести
				| порядок на подконтрольной территории.
				|
			p
				| На текущей странице, видите общие сведения о своем ip-адресе и, собственно, сам айпи. В интернете существует множество сервисов, подобного рода. Например,
				| 2ip ru, whatismyip ru и другие. Это является самым легким способом, как узнать ip-адрес.