extends ../base
block title
	| Hide Ip
block variables
	- var pageClass = 'container-left'
block main
	// Секция main
	.main-wrap
		aside.sidebar
			.header__logo
				a(href="/" class="logo" title="Логотип")
					img(src=require("../../img/logo-green.png"))
					| PROXYSELLER
			.sidebar-list
				.sidebar-list-item
					.sidebar-list-item-dropdown
						.sidebar-list-dropdown-img
							img(src=require("../../img/sidebar-list-dropdown-services.png"))
						span Услуги
						i.fa.fa-angle-down
				.sidebar-list-item
		main.main-content
			section.main.hide-ip
				.container
					.share-page
						.share-page__link
							a(href='#')
								i.fa.fa-share
								|                            Поделиться страницей
						.share-page__social
							.share-page__social-inner
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-facebook
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-vk
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-twitter
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-paper-plane
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-at
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa
												svg.svg-inline--fa.fa-deskpro.fa-w-15.fa-3x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='deskpro', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 480 512')
													path(fill='currentColor', d='M205.9 512l31.1-38.4c12.3-.2 25.6-1.4 36.5-6.6 38.9-18.6 38.4-61.9 38.3-63.8-.1-5-.8-4.4-28.9-37.4H362c-.2 50.1-7.3 68.5-10.2 75.7-9.4 23.7-43.9 62.8-95.2 69.4-8.7 1.1-32.8 1.2-50.7 1.1zm200.4-167.7c38.6 0 58.5-13.6 73.7-30.9l-175.5-.3-17.4 31.3 119.2-.1zm-43.6-223.9v168.3h-73.5l-32.7 55.5H250c-52.3 0-58.1-56.5-58.3-58.9-1.2-13.2-21.3-11.6-20.1 1.8 1.4 15.8 8.8 40 26.4 57.1h-91c-25.5 0-110.8-26.8-107-114V16.9C0 .9 9.7.3 15 .1h82c.2 0 .3.1.5.1 4.3-.4 50.1-2.1 50.1 43.7 0 13.3 20.2 13.4 20.2 0 0-18.2-5.5-32.8-15.8-43.7h84.2c108.7-.4 126.5 79.4 126.5 120.2zm-132.5 56l64 29.3c13.3-45.5-42.2-71.7-64-29.3z')
								.share-page__social-item
									.share-page__social-item-counter
										| 16
									.share-page__social-item-circle
										a(href='#')
											i.fa.fa-linkedin

					.main__title
						h1 Мой IP
					.row.main__txt-img
						.col-lg-12.no-relative
							p
								| Зная ваш IP-адрес, злоумышленники могут получить о вас очень много информации. Ниже лишь малая часть.

			section.your-ip
				.container
					.your-ip__all-wrap
						.row
							.your-ip__inner
								p.your-ip__title
									| Ваш IP-адрес:
								.your-ip__wrap
									span.your-ip__numbers
										| 37.57.19.30
									i.fa.fa-copy.copy-buffer(data-clipboard-text="" title="Скопировано в буфер")
								.your-ip__btn
									button(type="button" class="main_btn2 open-popup-link" data-effect="mfp-zoom-in" data-mfp-src="#popup2") Изменить свой IP-адрес
							.hide-ip-table__scroll-table
								| Листайте таблицу
								i.fa.fa-arrow-right
							.hide-ip-table__table-wrap
								table
									tbody
										tr
											td
												| Хост
											td
												i
													img(src=require("../../img/hide-ip-table__table.png"))
												| 30.19.57.37.triolan.net
											tr
												td
													| Система
												td
													i
														img(src=require("../../img/hide-ip-table__table2.png"))
													| Win8.1
											tr
												td
													| Ваш браузер
												td
													i
														img(src=require("../../img/hide-ip-table__table5.png"))
													| Internet Explorer 11
											tr
												td
													| Откуда Вы
												td
													i
														img(src=require("../../img/hide-ip-table__table4.png"))
													| RU (EU), Moscow, Moscow
											tr
												td
													| Провайдер
												td
													i
														img(src=require("../../img/hide-ip-table__table6.png"))
													| 2COM Co Ltd.
											//tr
											//	td
											//		| DNS
											//	td
											//		i
											//			img(src=require("../../img/hide-ip-table__table6.png"))
											//		| 37.57.0.210  Ukraine
											//tr
											//	td
											//		| Анонимайзер
											//	td
											//		i
											//			img(src=require("../../img/hide-ip-table__table7.png"))
											//		| Нет
											//tr
											//	td
											//		| Прокси
											//	td
											//		i
											//			img(src=require("../../img/hide-ip-table__table8.png"))
											//		| Нет
											//tr
											//	td
											//		| Протокол
											//	td
											//		i
											//			img(src=require("../../img/hide-ip-table__table9.png"))
											//		| HTTP/1.1

						.row.browser-details
							.browser-details__inner.scroll-table
								p.title Подробные сведения, предоставленные вашим браузером
								.hide-ip-table__scroll-table.browser-details__scroll-table
									| Листайте таблицу
									i.fa.fa-arrow-right
								.browser-details__table-wrap
									table
										tbody
											tr
												td
													| X-Forwarded-For
												td
													| 37.57.3.238
											tr
												td
													| SERVER_PORT
												td
													| 433
											tr
												td
													| Connection
												td
													| close
											tr
												td
													| Accept-Encoding
												td
													| gzip
											tr
												td
													| X-Forwarded-Proto
												td
													| https
											tr
												td
													| upgrade-insecure-requests
												td
													| https
											tr
												td
													| user-agent
												td
													| Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36
											tr
												td
													| accept
												td
													| text/html,application/xhtml+xml,application/xml; #[br] q=0.9,image/webp,image/apng,*/*; #[br]q=0.8,application/signed-exchange;v=b3
											tr
												td
													| referer
												td
													| https://www.google.com/
											tr
												td
													| accept-language
												td
													| ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7
											tr
												td
													| cookie
												td
													| __cfduid=dc02138e9a56b90095d548bac66bb191d1557398720; t=116523315; #[br] PAPVisitorId=28f8b2b3b1dc187a2519347fnRUvgDK0; _ga=GA1.2.289666601.1557398722; #[br] _gid=GA1.2.1269713198.1557398722; #[br]_ym_uid=1557398722962252880; _ym_d=1557398722;#[br]#[br]_ym_wasSynced=%7B%22time%22%3A1557398722751%2C%22params%22%3A%7B%22eu%22%3A0%7D%2C%22bkParams%22%3A%7B%7D%7D;#[br] _fbp=fb.1.1557398722887.640305050;#[br] _ym_hostIndex=0-2%2C1-0; jv_visits_count_PeHzjrJoSL=1
											tr
												td
													| CDN-Loop
												td
													| cloudflare
							.browser-details__inner.hide-ip
								.hide-ip-table__your-location
									p.hide-ip-table__your-location-title
										| Ваше расположение на карте!
									.hide-ip-table__your-location-map
										a(href="#")
											img(src=require("../../img/hide-ip-table__your-location-map.jpg") class="img-fluid")
									p.hide-ip-table__your-location-title
										| Вы можете скрыть все это!
									p
										| Достаточно воспользоваться
										| нашим простым, удобным и
										| надежным инструментом.
										| Скройте личные данные, защити-
										| те трафик и снимите все лимиты
										| со своего интернета!
									.hide-ip-table__your-location-btn
										button(type="button" class="main_btn2") Скрыть IP-aдрес
			// Секция why-our-proxies-are-better
			section.why-our-proxies-are-better
				.container
					p
						| Узнать свой IP компьютера или сервера в сети можно с помощью прокси-чекера на сайте Proxy-Sale.com. Это не так сложно, как кажется на первый взгляд. Идентификация каждого пользователя, подключенного в реальном времени к Интернету, происходит при помощи IP-адреса. Этот уникальный идентификатор представляет собой длинный номер, состоящий из 4 групп цифр от 0 до 255 в четвертой версии интернет протокола (IPv4) или 8 групп буквенно-цифровых комбинаций в 6 версии протокола (IPv6).
					p
						| Во время подключения к выбранному сайту происходит проверка IP, то есть фактически устанавливается маршрут передачи информации от сервера к устройству пользователя. Задумавшись над тем, как узнать IP- адрес компьютера пользователь делает первый шаг к более безопасному использованию окружающего информационного поля.
					h2 Зачем используют информацию об IP-адресе?
					p
						| Узнать свой IP довольно просто – информация о выходной точке хранится как в компьютере, так и в браузере. Однако если провайдер пользователя использует динамические айпи, то есть значение идентификатора присваивается пользователю непосредственно в момент выхода в Сеть, то цифровое обозначение IP-адреса будет меняться каждый раз, когда вы выходите в сеть.
					p
						| оэтому более разумный метод узнать айпи – использовать специальный сервис, который называется прокси-чекер, например как на этом сайте. Используя данный сервис, пользователь получает точный IP на данный момент времени, то есть даже в случае использования провайдером динамических адресов, чекер будет отображать непосредственно тот айпи, который использовался для входа на сайт.
					p
						| Узнать IP необходимо по двум причинам:
					p
						| В целях безопасности – айпи-адрес обеспечивает не только связь с веб-сайтами, но и даёт чёткую ориентацию местонахождения пользователя. Зная и умея скрывать свой IP-адрес, пользователь повышает сохранность личной информации;
						| Для работы – посещение запрещенных сайтов или работа с большим количеством информации (например, парсинг) требуют умения не только определить IP, но и успешно его скрывать, иначе администраторы веб-ресурса могут заблокировать доступ.
						| Если пользователя посещает мысль, что мой айпи никому не интересен, то он глубоко ошибается. Зная интернет-адрес, хакер может добраться через браузер до компьютера и превратить его в «бота». Или использовать сохраненные там логины и пароли для получения информации личного характера или банальной кражи денег с электронного счета. Поэтому задумавшись о том, как узнать свой IP-адрес человек делает первый шаг к спокойному использованию интернет-ресурсов без риска в один прекрасный момент потерять важные данные.
					h2 Какие бывают типы IP?
					p
						| Существуют два вида IP-адресов: локальные и сетевые. Локальный айпи позволит определить местонахождение компьютера в домашней сети, а сетевые адреса используются для выхода в Интернет. Сетевые IP делятся на 2 типа:
					p
						| Динамические – интернет адреса 4 поколения, то есть состоящие исключительно из цифр, постепенно заканчиваются, поэтому провайдеры используют динамические айпи. Смысл такого подхода заключается в очередности использования IP по мере необходимости, поэтому каждый раз выходя в Сеть, человек видит разные цифры;
						| Статические – отдельные провайдеры присваивают каждому зарегистрированному пользователю собственный IP-адрес, который остается неизменным, независимо от выбранного времени выхода в Интернет. Статический айпи потенциально менее безопасный, зато более удобный при постоянном подключении к одним и тем же сайтам.
					h2 Смена домашнего айпи адреса
					p
						| Удовлетворив желание проверить IP при помощи нашего сервиса, человек обычно задумывается над вопросом о замене домашнего айпи-адреса. Самый простой и надежный способ сменить интернет-адресацию – использовать прокси-сервер. Такой сервер станет перевалочной базой, адрес которой будет использоваться для подключения к веб-сайтам, тогда как реальный айпи пользователя останется неизвестным. Такой подход позволит посещать заблокированные правительством сайты, работать с большими объемами информации или заниматься интернет-серфингом без ограничений.
					h2 Что дает изменение домашнего IP-адреса?
					p
						| Решив определить IP пользователь получит больше свободы действия в Сети. Скрыв домашний интернет-адрес пользователь сможет безопасно заходить на любые сайты, а также действовать в Интернете анонимно, защищая компьютер от возможных посягательств со стороны администрации браузера или хакеров.
					h2 Почему когда используешь прокси, айпи не меняется?
					p
						| Вопрос, который часто мелькает в Сети: я подключил прокси-сервер, но мой ip адрес не изменился, что делать? Ответ – выбрать качественные анонимные прокси, которые поддерживают протоколы связи HTTPS и SOCKS. Бесплатные прокси работают через стандартный протокол HTTP, в настройках которого часто нет функции сокрытия реального адреса пользователя. Выбирая платные прокси-серверы, которые легко работают с IPv4 и IPv6, вы надёжно скроете реальный адрес рабочего компьютера и будете действовать анонимно, ведь администрация веб-сайтов будет видеть только IP прокси-сервера, который может находиться в любой стране мира.
