extends ../base
block title
	| Index page
block main
	// Секция main
	section.main
		.container
			.main__title
				h1 Бесплатные прокси сервера онлайн
				p
					| Прокси-сервер – это, ваш посредник в сети, выполняющий целый ряд задач и делающий ваши интернет-путешествия более свободными и
					| защищёнными. В вашем распоряжении есть список бесплатных прокси серверов, а так же услуга персональных прокси, что является нашей
					| основной деятельностью.
			.row.main__setting-up-a-proxy-in-the-browser-wrap
				.col-md-7.col-lg-6.col-xl-5
					.main__setting-up-a-proxy-in-the-browser
						span Настройка прокси в браузере:
						.main__setting-up-a-proxy-in-the-browser-items
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.google
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.firefox
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.safari
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.opera
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.yandex
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.ie
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.android
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.pc
				.col-md-5.col-lg-4.col-xl-3
					a(href="#" class="main__setting-up-a-proxy-in-the-browser-link") Другие способы настройки
			.main__proxy-list
				dl
					dt.
						Рабочих прокси:
					dd
						a(href="#" class="fps-sort fps-sort-counter fps-sort-all") 256
				dl
					dt.
						Анонимных:
					dd
						a(href="#" class="fps-sort fps-sort-counter fps-sort-anonymity") 256
				dl
					dt.
						Sock5:
					dd
						a(href="#" class="fps-sort fps-sort-counter fps-sort-socks5") 256
				dl
					dt.
						HTTP:
					dd
						a(href="#" class="fps-sort fps-sort-counter fps-sort-http") 256
				dl
					dt.
						HTTPS:
					dd
						a(href="#" class="fps-sort fps-sort-counter fps-sort-https") 256
				dl.last
					dt.
						Прокси в базе:
					dd
						a(href="http://104.248.37.4") 256
				.main__scroll-table
					| Листайте таблицу
					i.fa.fa-arrow-right
			.row
				.col-lg-8
					.main__table-wrap
						table
							thead
								th
									| IP
								th
									| Port
								th
									| Страна
								th
									| Тип
								th.anonim
									| Анонимность
									| Скорость
								th
									| Проверка
							tbody
								tr
									td.ip
										a(href="#") 164.132.199.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 50%")
											i 184 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 144.132.129.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 70%")
											i 84 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 164.132.199.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 40%")
											i 284 мс
									td.check
										| 3 мин. назад
										a(href="#") 
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 144.132.129.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 40%")
											i 284 мс
									td.check
										| 3 мин. назад
										a(href="#") 
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 164.132.199.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 40%")
											i 284 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 144.132.129.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.orange.stripes
											span(style="width: 90%")
											i 1584 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 164.132.199.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.green.stripes
											span(style="width: 10%")
											i 10 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 144.133.129.54
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 40%")
											i 284 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
								tr
									td.ip
										a(href="#") 144.132.129.33
											p.copy-buffer
												i.fa.fa-copy
												span Нажмите ⌘-С чтобы скопировать
												| Скопировать в буфер
									td
										img(src=require("../../img/imgport.png"))
									td.country
										img(src=require("../../img/flag_ukraine.jpg"))
										| Азербaйджан
									td
										a(href="#") HTTP
									td
										| Анонимный
										.progress-bar.blue.stripes
											span(style="width: 40%")
											i 284 мс
									td.check
										| 3 мин. назад
										a(href="#")
											i.fa.fa-repeat
					.main__pagination
						ul.pagination
							li
								a(href="#" class="active") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
							li
								span(class="ellipsis") ...
							li
								a(href="#") 20
							li
								a(href="#") 21
							li
								a(href="#")
									i.fa.fa-long-arrow-right
							li
								a(href="#") Последняя
					.main__update-proxy-list
						a(href="#") Обновить список прокси
				.col-lg-4
					.main__filter#fps-filter-block
						form
							.main__top-select-wrap
								.main__top-select.fps-filter-country
									.select2-wrap
										select.select2.select2-country
											option
											option(data-country="img/algeria.png") Algeria
											option(data-country="img/ukraine.png") Ukraine
											option(data-country="img/japan.png") Japan
											option(data-country="img/unitedkingdom.png") United Kingdom
											option(data-country="img/algeria.png") Algeria
											option(data-country="img/ukraine.png") Ukraine
											option(data-country="img/japan.png") Japan
									button(type="button")
										i.fa.fa-plus
							.main__filter-type.main__filter--default
								h4 Тип:
								label.check.noselect
									input(type='checkbox')
									i.fa.fa-1.fa-circle-o
									i.fa.fa-2.fa-circle
									span HTTP
								label.check.noselect
									input(type='checkbox')
									i.fa.fa-1.fa-circle-o
									i.fa.fa-2.fa-circle
									span HTTPS
								label.check.noselect
									input(type='checkbox')
									i.fa.fa-1.fa-circle-o
									i.fa.fa-2.fa-circle
									span Socks5
							.main__filter-anonymity.main__filter--default
								h4 Анонимность:
								.main__filter-anonymity-inner
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span Анонимный
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span Элитный
									label.check.noselect
										input(type='checkbox')
										i.fa.fa-1.fa-circle-o
										i.fa.fa-2.fa-circle
										span Прозрачный
							.main__filter--default
								h4 Экспорт:
								.main__filter-link-item
									a(href="#") IP:Port
								.main__filter-link-item
									a(href="#") Excel
								.main__filter-link-item
									a(href="#") В новом окне
							.main__btn-wrap
								button(type="submit" class="main_btn" id="fps-filter-submit-button") Применить фильтр
							.main__clean-the-filter
								a(href="#") Очистить фильтр
							.main__subscribe-to-update-filter
								a(href="#popup" class="open-popup-link" data-effect="mfp-zoom-in" data-info="Подписаться на обновление списка") Подписаться на обновление списка
							.main__filter-divider
							.main__filter-info
								p
									| Бесплатно предоставляется к просмотру только
									| первая страница списка.
								p
									| Купите доступ или войдите, чтобы получить
									| полный доступ к сервису.
							.main__btn-wrap
								button(type="button" class="main_btn") Получить полный доступ
							.main__filter-divider
							.main__filter-info.info-attention
								i.fa.fa-exclamation-circle
								.main__filter-info-inner
									p
										| Бесплатные прокси исключают любую
										| возможность работы с социальными сетями,
										| парсинга поисковых систем и работы с
										| приватным софтом.
									p
										| Мы не несем ответственности за использова-
										| ние списка бесплатных прокси.
										| Список IP предоставляется в ознакоми-
										| тельных целях.
							.main__btn-wrap.personal
								button(type="button" class="main_btn") Купить персональные прокси
								i.fa.fa-question-circle(title="Налетай! Покупай персональные прокси под новый год и не забывай купить на следующий!")
	// Секция info-blocks
	section.info-blocks
		.container
			.info-blocks__item
				.row
					.col-lg-9
						.info-blocks__item-txt-block.info-blocks__item-txt-block1
							i.fa.fa-exclamation-circle
							p
								| Бесплатно предоставляется к просмотру только первая страница списка. Купите доступ или войдите, чтобы получить полный доступ к сервису.
					.col-lg-3
						.info-blocks__btn.info-blocks__btn1
							button(type="button" class="main_btn") Получить полный доступ
			.info-blocks__item
				.row
					.col-lg-9
						.info-blocks__item-txt-block.info-blocks__item-txt-block2
							i.fa.fa-exclamation-circle
							p
								| Избавьте себя от ограничений и неудобств, риска быть забаненым или неудобства в постоянной смене IP адреса.
								| Персональные прокси для работы с социальными сетями, avito, keykollector и прочие цели использования.
					.col-lg-3
						.info-blocks__btn.info-blocks__btn2
							button(type="button" class="main_btn") Купить безопасность
	// Секция answer-your-questions
	section.answer-your-questions
		.container
			h2 Отвечаем на ваши вопросы
			.accordion
				.accordion_title
					i.fa.fa-question-circle
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
					span
						i.fa.fa-chevron-down
				.accordion_content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						| ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda
			.accordion
				.accordion_title
					i.fa.fa-question-circle
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
					span
						i.fa.fa-chevron-down
				.accordion_content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						| ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda
						| totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
						| aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
						| sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
			.accordion
				.accordion_title
					i.fa.fa-question-circle
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
					span
						i.fa.fa-chevron-down
				.accordion_content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						| ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda
						| totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
						| aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
						| sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
			.accordion
				.accordion_title
					i.fa.fa-question-circle
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
					span
						i.fa.fa-chevron-down
				.accordion_content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						| ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda
						| totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
						| aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
						| sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	// Секция why-our-proxies-are-better
	section.why-our-proxies-are-better
		.container
			h2 Почему наши прокси лучше?
			p
				| На proxy-sale.com вы можете купить хорошие недорогие прокси с высокой скоростью, стабильной работой и круглосуточной технической поддержкой.
				| Купить анонимный прокси у нас означает арендовать быстрые прокси у крупнейших провайдеров разных стран мира, поэтому вы можете не переживать за
				| безопасность своих данных.
			ul
				li
					| - поддерживаются все протоколы http, https, socks4, socks5;
				li
					| - работают с любым сайтом или программой;
				li
					| - авторизация по логин - паролю или IP адресу;
				li
					| - работоспособность 24/7, саппорт онлайн всегда;
				li
					| - если прокси упал (форсмажор) - заменим на новый;
				li
					| - широкий выбор стран и огромное количество сетей;
				li
					| - экономия при покупке пакетов (до - 20%);
				li
					| - чем больше срок аренды, тем дешевле IP-адреса (еще до - 30%);
				li
					| - предлагаем в аренду прокси IPv4 и IPv6.
			p
				| Предоставляемые нами прокси-сервера России, Украины, США, Германии, Франции, Англии и других  европейских стран обеспечат вас анонимностью в сети.
				| Приобретая у нас Socks прокси или https прокси, вы получите все необходимые данные для безопасной работы за максимально короткий промежуток времени,
				| а быстрые прокси ipv4 и ipv6 (до 100 мбит/с) обеспечат любого пользователя стабильной работой браузеров и любимых программ.
			p
				| Будь это русские прокси или элитные прокси, ip для бота или ip для вк Proxy-Sale гарантирует, что они отработают весь срок аренды (независимо от того неделя
				| это или год). Если вы хотите дешево купить прокси, тогда мы можем предложить вариант аренды на менее длительный период, например, на неделю, это будет
				| совсем недорого. Также существенно сэкономить можно покупая пакеты прокси от 10 штук и на длительный период (например, на год). В таком случае экономия
				| может составлять до 50% в зависимости от пакета и срока аренды.
			p
				| У нас вы получите хорошие индивидуальные прокси именно под ваши задачи, при необходимости можно выбрать нужные сети и подсети, а также указать список
				| исключений, и мы отфильтруем нежелательные прокси-сервера и предложим идеально подходящий именно вам.